.sider{
  background: #f2f2f2;
  padding:110px 0px 0px 30px;
}

.sider-menu{
  background:#f2f2f2;
  border-right:0px;
  .ant-menu-item-selected{
    font-weight:600;
    border-right:4px solid #205FE4;
  }
}

